/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font_principal: 'Poppins', sans-serif;
    --font_secundario: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font_secundario) !important;
}

/* Estilos para la Landing Page */
.landing-page {
    display: flex;
    height: 100vh;
    background-color: white;
}

.text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.text-section h1 {
    font-size: 5rem;
    font-family: var(--font_principal);
    color: black;
    margin: 0;
    text-align: center;
}

.text-section h2 {
    font-size: 1.2rem;
    color: gray;
    letter-spacing: 2px;
    text-align: center;
}

.about-me {
    font-size: 1rem;
    color: gray;
    text-align: center;
    margin: 15px 0;
    max-width: 800px;
    line-height: 1.5;
}

.image-section {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.449);
    z-index: 1;
}

.vertical-text {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: rotate(90deg);
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: white;
    z-index: 2;
}

.copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 0.7rem;
    padding: 5px;
    letter-spacing: 0.5px;
    z-index: 2;
}

/* Iconos social {Github, Linkedin, Download} */
.social-container {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.social-icons a:hover {
    color: gray;
}

.social-icons button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 50px;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 25px;
}

.social-icons button:hover {
    background: transparent;
    color: gray;
    transition: transform 0.2s ease, color 0.2s ease;
    transform: translateY(-5px) scale(1.1);
}
