/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Asegura que el padding y el margen se manejen correctamente */
}

:root {
    --font_principal: 'Poppins', sans-serif;
    --font_secundario: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font_secundario) !important;
}

/* Estilos para la Landing Page */
.landing-page {
    display: flex;
    height: 100vh;
    /* Ocupa todo el alto de la pantalla */
    background-color: white;
}

.text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 35px;
}

.text-section h1 {
    font-size: 5rem;
    font-family: var(--font_principal);
    color: black;
    margin: 0;
    text-align: center;
    /* Asegura que el texto esté centrado */
}

.text-section h2 {
    font-size: 1.2rem;
    color: gray;
    letter-spacing: 2px;
    text-align: center;
    /* Asegura que el texto esté centrado */
}

.about-me {
    font-size: 1rem;
    /* Tamaño de la fuente */
    color: gray;
    /* Color del texto */
    text-align: center;
    /* Centrar el texto */
    margin: 15px 0;
    /* Margen arriba y abajo */
    max-width: 800px;
    /* Ancho máximo para mantener el texto manejable */
    line-height: 1.5;
    /* Espaciado entre líneas */
}

.image-section {
    flex: 1;
    position: relative;
    overflow: hidden;
    /* Asegura que no haya desbordamiento */
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra toda el área */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.449);
    /* Aumenta la opacidad para más contraste */
    z-index: 1;
    /* Asegúrate de que esté por encima de la imagen */
}

.vertical-text {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: rotate(90deg);
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: white;
    /* Cambia a blanco para destacar sobre el fondo oscuro */
    z-index: 2;
    /* Asegúrate de que esté por encima de la superposición */
}

.copyright {
    position: absolute;
    /* Posicionamiento absoluto */
    bottom: 10px;
    /* Espacio desde el fondo */
    right: 10px;
    /* Espacio desde la derecha */
    color: white;
    /* Color del texto */
    font-size: 0.7rem;
    /* Tamaño de fuente */
    padding: 5px;
    /* Espacio interno */
    letter-spacing: 0.5px;
    z-index: 2;
    /* Asegúrate de que esté por encima de la superposición */
}

/* Iconos social {Github, Linkedin, Download} */
.social-container {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente todo el contenido */
}

.social-icons {
    display: flex;
    /* Mantener los íconos y el botón en una fila */
    align-items: center;
    /* Alinear verticalmente todos los elementos */
    gap: 10px;
    /* Espacio entre los íconos y el botón */
}

.social-icons a {
    font-size: 24px;
    /* Tamaño del icono */
    color: black;
    /* Color del icono */
    text-decoration: none;
    /* Sin subrayado */
    transition: color 0.3s ease, transform 0.3s ease;
    /* Transición suave para el color y escala */
    display: flex;
    /* Hacer que el icono se comporte como un elemento flex */
    align-items: center;
    /* Alinear el icono verticalmente en el centro */
    justify-content: center;
    /* Centrar horizontalmente el icono */
    height: 100%;
    /* Altura deseada para los iconos */
    width: 100%;
    /* Ancho fijo para los iconos, puedes ajustar esto según tu diseño */
    border-radius: 5px;
    /* Bordes redondeados para una mejor apariencia */
}

.social-icons a:hover {
    color: gray;
    /* Color al pasar el ratón */
}

.social-icons button {
    background: transparent;
    /* Botón transparente */
    border: none;
    /* Sin borde */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
    padding: 0;
    /* Sin padding para que no haya espacio adicional */
    margin: 0;
    /* Sin margen para que no haya espacio adicional */
    width: 50px;
    color: black;
    /* Color del icono */
    transition: transform 0.3s ease, color 0.3s ease;
    /* Transición suave para el color y escala */
    font-size: 25px;
    /* Aumenta el tamaño del icono aquí */
}

.social-icons button:hover {
    background: transparent;
    /* Fondo transparente al pasar el ratón */
    color: gray;
    /* Color al pasar el ratón */
    transition: transform 0.2s ease, color 0.2s ease;
    /* Transición modificada para hover */
    transform: translateY(-5px) scale(1.1);
    /* Eleva y escala el botón al pasar el ratón */
}